
.artistImage {
    max-height: 120vh;
    position: absolute;
    aspect-ratio: auto;
    right: 40%;
    top: 15%;
    filter: grayscale(90%);
    object-fit: cover;
    z-index: -2;
    overflow: clip;
}
.playText {
    font-size: 7vw;
    color: darkred;
    opacity: 70%;
    line-height: .9em;
}
.detailsCard:hover {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05) !important;
    border: 1px solid darkred !important;
}
.description {
    z-index: 2;
    background-color: white;
}
@media screen and (max-width: 450px) {
    .playText {
        font-size: 15vw;
    }
}
@media screen and (max-width: 768px) {
    .artistImage {
        height: auto;
        width: 100vw;
        right: 0;
        top: 0%;
    }
}
@media screen and (max-width: 1450px) {
    .artistImage {
        top: 0%;
    }
}