.navItem:hover {
    color: darkred;
    text-shadow: 0.1px .1px .5px #5e4c49;
}
.headerImage {
    max-height: 50px;
}
.header {
    background-color: whitesmoke;
    border-bottom: 1px solid darkred;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05), 0 3px 10px 0 rgba(0, 0, 0, 0.05);
}